body {
  background: #141414;
  color: #ffffff;
}
.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
/* width */
::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #474747; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #383838; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff0000; 
}