body {
  background: #141414;
  color: #ffffff;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}
/* width */
::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #474747;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #383838;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}

.image-container {
  width: auto;
  height: 250px;
  position: relative;
  transition: transform 0.2s;
}
.image-container:hover {
  transform: scale(1.1);
}
.image-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  bottom: 0;
  opacity: 0;
  transition: 0.5s ease;
  font-size: 15px;
  padding: 10px;
  text-align: center;
}
